<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>All Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
</head>
<body>
<%- include('./partials/nav.ejs') %>

<div class="container mt-5">
    <h1 class="mb-4">All Messages</h1>
    <ul class="list-group">
        <% messages.forEach(function(message, index) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <div>
                    <strong>From:</strong> <%= message.name %> (<%= message.email %>)
                    <p><strong>Message:</strong> <%= message.message %></p>
                </div>
                <div>
                    <form action="/deleteMessage" method="POST" style="display: inline;">
                        <input type="hidden" name="messageId" value="<%= message._id %>">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </div>
            </li>
        <% }); %>
    </ul>
    <nav aria-label="Page navigation"  style="background-color: white;">
        <ul class="pagination justify-content-center">
            <% for(let i = 1; i <= pages; i++) { %>
                <li class="page-item <%= i === current ? 'active' : '' %>">
                    <a class="page-link" href="/allMessages?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<%- include('./partials/footer.ejs') %>
</body>
</html>
