<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>All Users</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
<%- include('./partials/nav.ejs') %>

<div class="container mt-5">
    <h1 class="mb-4">All Users</h1>
    <ul class="list-group">
        <% users.forEach(function(user, index) { %>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span><%= user.username %> - <%= user.email %></span>
                <div>
                    <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="modal" data-target="#userModal<%= index %>">
                        <i class="fas fa-eye"></i> View
                    </button>
                    
                    <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#sendMessageModal<%= index %>">
                        <i class="fas fa-envelope"></i> Message
                    </button>

                    <form action="/deleteUser" method="POST" style="display: inline;">
                        <input type="hidden" name="email" value="<%= user.email %>">
                        <button type="submit" class="btn btn-outline-danger btn-sm">
                            <i class="fas fa-trash-alt"></i> Delete
                        </button>
                    </form>
                </div>
        
        
                <!-- User Detail Modal -->
                <div class="modal fade" id="userModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="userModalLabel<%= index %>" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="userModalLabel<%= index %>">User Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p><strong>Username:</strong> <%= user.username %></p>
                                <p><strong>Email:</strong> <%= user.email %></p>
                                <!-- Add more user details here -->

                                <h5><strong>Education:</strong></h5>
                                <% user.education.forEach(function(edu){ %>
                                    <p>Title: <%= edu.educationTitle %></p>
                                    <p>Major <%= edu.major %></p>
                                    <p>Institution:<%= edu.institutionName %></p>
                                    <p>Start Date:<%= new Date(edu.startDate).toLocaleDateString() %></p>
                                    <p>End Date:<%= edu.endDate ? new Date(edu.endDate).toLocaleDateString() : 'Present' %></p>
                                <% }); %>
                                <!-- Display Experience Details -->
                                <h5><strong>Experience:</strong> </h5>
                                <% user.experience.forEach(function(exp){ %>
                                    <p>Job Title: <%= exp.jobTitle %></p>
                                    <p>Company:<%= exp.company %></p>
                                    <p>Description: <%= exp.description %></p>
                                    <p>Start Date:<%= new Date(exp.expStartDate).toLocaleDateString() %></p>
                                    <p>End Date: <%= exp.expEndDate ? new Date(exp.expEndDate).toLocaleDateString() : 'Present' %></p>
                                <% }); %>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="sendMessageModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="sendMessageModalLabel<%= index %>" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="sendMessageModalLabel<%= index %>">Send Message to <%= user.username %></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="/sendMessageToUser" method="POST">
                                    <input type="hidden" name="userId" value="<%= user._id %>">
                                    <div class="form-group">
                                        <label for="messageText<%= index %>">Message:</label>
                                        <textarea class="form-control" id="messageText<%= index %>" name="message" rows="3" required></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-outline-primary">Send Message</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        <% }); %>        
    </ul>
    <nav aria-label="Page navigation" style="background-color: white;">
        <ul class="pagination justify-content-center">
            <% for(let i = 1; i <= pages; i++) { %>
                <li class="page-item <%= i === current ? 'active' : '' %>">
                    <a class="page-link" href="/allUsers?page=<%= i %>"><%= i %></a>
                </li>
            <% } %>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('form').on('submit', function(event) {
            event.preventDefault();
            var form = $(this);
            var modalId = form.closest('.modal').attr('id');
            var textArea = $('#' + modalId + ' textarea[name="message"]');
    
            $.ajax({
                type: 'POST',
                url: form.attr('action'),
                data: form.serialize(),
                success: function(response) {
                    if (response.success) {
                        textArea.val('');
    
                        $('#' + modalId + ' .modal-body').append('<div class="alert alert-success mt-3" role="alert">' + response.message + '</div>');
                    } else {
                        $('#' + modalId + ' .modal-body').append('<div class="alert alert-danger mt-3" role="alert">' + response.message + '</div>');
                    }
                },
                error: function() {
                    $('#' + modalId + ' .modal-body').append('<div class="alert alert-danger mt-3" role="alert">An error occurred while attempting to send the message.</div>');
                }
            });
        });
    });
    </script>

<%- include('./partials/footer.ejs') %>
</body>
</html>
