<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Admin Messages</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/footer.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body style="background-color: #f8f9fa">
    <%- include('./partials/nav.ejs') %>

    <div class="container mt-5">
        <h1 class="mb-4">Admin Messages</h1>
        <% if (messages.length > 0) { %>
            <div class="list-group">
                <% messages.forEach(function(message) { %>
                    <div class="list-group-item list-group-item-action">
                        <div class="row">
                            <div class="col-12">
                                <strong>Message:</strong> <%= message.message %>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-md-4">
                                <strong>From:</strong> <%= message.adminUniqueId %>
                            </div>
                            <div class="col-md-4">
                                <strong>Sent on:</strong> <%= message.createdAtFormatted %>
                            </div>
                            <div class="col-md-4 text-right">
                                <form action="/deleteMessageForEmployer/<%= message._id %>" method="POST">
                                    <button type="submit" class="btn btn-outline-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        <% } else { %>
            <div class="alert alert-info" role="alert"> 
               No Admin Messages.
            </div>
        <% } %>
        <% if (totalPages > 1) { %>
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <% for(let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="/adminAllMessages?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                </ul>
            </nav>
        <% } %>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>
