<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Job Seekers</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
    </head>
    <%- include('./partials/nav.ejs') %>

    <body style="background-color: #f8f9fa">
        <div class="container mt-5">
            <h1>Job Seekers</h1>
            <div class="row">
                <% users.forEach(user => { %>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <% if (user.logo) { %>
                        <img
                            src=" ../images/<%= user.logo %>"
                            alt="User Logo"
                            class="card-img-top"
                        />
                        <% } else { %>
                        <img
                            src="images/profile_logo.png"
                            alt="User Logo"
                            class="card-img-top"
                        />
                        <% } %>

                        <div class="card-body">
                            <h5 class="card-title"><%= user.name %></h5>

                            <p class="card-text"><%= user.email %></p>
                            <form action="/viewUsrProfile" method="post">
                                <input
                                    type="hidden"
                                    name="userId"
                                    value="<%= user._id %>"
                                />
                                <button type="submit" class="btn btn-primary">
                                    View Profile
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
