<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>Job Seeker</title>
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        />
        <link rel="stylesheet" type="text/css" href="css/nav.css" />
        <link rel="stylesheet" type="text/css" href="css/footer.css" />
        <style>
            .container {
                margin-top: 5em;
            }

            .user-info {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                border: 1px solid #030303;
            }
            .user-logo {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
            .user-name {
                font-weight: bold;
                font-size: 1.2rem;
            }
            .message-box {
                margin-top: 20px;
                border: 1px solid #030303;
                padding: 10px;
            }
        </style>
    </head>
    <%- include('./partials/nav.ejs') %>
    <body>
        <div class="container col-md-6">
            <% if (success) { %>
            <p class="success-message"><%= success %></p>
            <% } %> <% if (error) { %>
            <p class="error-message"><%= error %></p>
            <% } %>
            <div class="user-info">
                <% if (usr.logo) { %>
                <img
                    src=" ../images/<%= usr.logo %>"
                    alt="User Logo"
                    class="user-logo"
                />
                <% } else { %>
                <img
                    src="images/profile_logo.png"
                    alt="User Logo"
                    class="user-logo"
                />
                <% } %>
                <div class="user-name"><%= usr.name %></div>
            </div>

            <div class="message-box">
                <form id="messageForm" action="/sendEmpMessage" method="POST">
                    <div class="form-group">
                        <textarea
                            class="form-control"
                            id="message"
                            name="message"
                            rows="3"
                            placeholder="Type your message..."
                            required
                        ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </body>
    <%- include('./partials/footer.ejs') %>
</html>
